In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

bwpo = pd.read_csv('datasets/ORIGINAL_SOURCE_DATA/Bulky_Waste_Pickup_Orders_by_Customer_Account.csv')

## Initial EDA

### Checking Data Types
I want to know what the different columns look like, e.g. are the phone numbers integers or do they have hyphens, making them strings? Which of the numeric columns can I convert to integers? After I'm confident in my data types, I can reimport, adding the dtypes argument to force my preferred formats.

In [2]:
bwpo.dtypes

ACCOUNT_NO          float64
PROPERTY_ADDRESS     object
FOLIO_NUMBER        float64
OWNER                object
OWNER_PHONE         float64
LEGAL_DESC           object
WORK_ORDER          float64
SUFFIX              float64
ORDER_DATE           object
PICKUP_DATE          object
REASON_CODE          object
REQUEST_DATE         object
BILL_DATE            object
STATUS_CODE          object
ESTIMATED_YARDS     float64
PICKED_YARDS        float64
BILLED_YARDS        float64
BULKY_FEE           float64
BULKY_PAID          float64
TOTAL_DUE           float64
dtype: object

In [3]:
bwpo.shape

(435617, 20)

In [4]:
bwpo.head()

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
0,40592601.0,17900 NE 7 AVE MIAMI FL 000000000,3.000000e+02,OVC,NaN,NaN,784775.0,0.0,05/08/2015,05/11/2015,30-SHOPPING CARTS,05/08/2015,05/12/2015,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0.0,6.0,0.0,0.0,0.0,0.0
1,12058766.0,29811 SW 147 AVE MIAMI FL 330333858,3.079100e+12,ROSA MARIA MENDOZA,NaN,H HABITABLE 10/7,50323.0,0.0,12/18/2017,01/01/2018,NORMAL PICKUP REQUEST,12/20/2017,01/03/2018,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0.0,2.0,0.0,0.0,0.0,0.0
2,40361386.0,9700 NW 36 AVE MIAMI FL 331470000,3.000000e+02,OVC/HOT SPOT,NaN,NaN,783965.0,0.0,05/05/2015,05/07/2015,17-TRASH - ENFORCEMENT OPERATION VACUUM CLEANE...,05/05/2015,05/08/2015,CN-CANCELLED,0.0,0.0,0.0,0.0,0.0,0.0
3,13024213.0,16074 SW 148 TERR MIAMI FL 331960000,3.059200e+12,JORGE F ORJALES &W TERESA,NaN,SHOREWAY L47 B2 156-38,783223.0,0.0,05/04/2015,05/08/2015,NORMAL PICKUP REQUEST,05/04/2015,05/12/2015,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0.0,5.0,0.0,0.0,0.0,0.0
4,11972067.0,19613 SW 87 CT MIAMI FL 331578921,3.660040e+12,DAVID FONSECA,7.868779e+09,NaN,52076.0,0.0,12/22/2017,01/01/2018,NORMAL PICKUP REQUEST,12/23/2017,01/03/2018,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0.0,8.0,0.0,0.0,0.0,0.0

**Note:** It looks like I have strings and floats by default. Some of the floats can clearly be forced to integers (ACCOUNT_NO), but others are less certain (BULKY_FEE).

**Next Question:** I need to find a way to check whether or not a numeric column can be safely assumed as an integer column.

I found a handy trick to see if a float column has any non-integer values:

https://stackoverflow.com/questions/49249860/how-to-check-if-float-pandas-column-contains-only-whole-number  

Possibilities for the entries that fail the test are that they have value after the decimal point, or that they are missing or NaN values.

In [5]:
for col in list(bwpo):
    if str(bwpo[col].dtype) == 'float64':
        print('{:20}: {}'.format(col, bwpo[col].apply(float.is_integer).all()))

ACCOUNT_NO          : False
FOLIO_NUMBER        : False
OWNER_PHONE         : False
WORK_ORDER          : False
SUFFIX              : False
ESTIMATED_YARDS     : False
PICKED_YARDS        : False
BILLED_YARDS        : False
BULKY_FEE           : False
BULKY_PAID          : False
TOTAL_DUE           : False

**Result:** All the numeric columns contain values that cannot be converted to integers

**Next Question:** Is this due only to missing values or are there actually floats that deserve to be floats?

In [6]:
print('_____ACCOUNT_NO_____\n')
print('shape: {}'.format(bwpo['ACCOUNT_NO'].shape))
print('shape of convertible floats: {}'.format(bwpo[bwpo['ACCOUNT_NO'].apply(float.is_integer)].shape))

_____ACCOUNT_NO_____

shape: (435617,)
shape of convertible floats: (435616, 20)

There is only one entry for ACCOUNT_NO that can't be converted. Likely a missing value.

In [7]:
bwpo[~(bwpo['ACCOUNT_NO'].apply(float.is_integer))]

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
180343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Result:** In the column, ACCOUNT_NO, there are no values that can't be converted to an integer.

**Next Question:** I should check the rest of the numeric columns, then move on to checking the dtypes of the columns that came up as objects.

In [8]:
for col in list(bwpo):
    if str(bwpo[col].dtype) == 'float64':
        print('_____{}_____\n'.format(col))
        print('{:30}: {}'.format('total num of entries', bwpo[col].shape[0]))
        print('{:30}: {}'.format('int convertible entries', bwpo[bwpo[col].apply(float.is_integer)].shape[0]))
        print('{:30}: {}'.format('non convertible entries', bwpo[col].shape[0] - bwpo[bwpo[col].apply(float.is_integer)].shape[0]))
        print('{:30}: {}'.format('all non-convertibles are NaN', bwpo[~(bwpo[col].apply(float.is_integer))][col].isna().all()))
        print('\n', '-' * 80, '\n', sep='')

_____ACCOUNT_NO_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____FOLIO_NUMBER_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____OWNER_PHONE_____

total num of entries          : 435617
int convertible entries       : 76385
non convertible entries       : 359232
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____WORK_ORDER_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____SUFFIX_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____ESTIMATED_YARDS_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____PICKED_YARDS_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____BILLED_YARDS_____

total num of entries          : 435617
int convertible entries       : 435616
non convertible entries       : 1
all non-convertibles are NaN  : True

--------------------------------------------------------------------------------

_____BULKY_FEE_____

total num of entries          : 435617
int convertible entries       : 435615
non convertible entries       : 2
all non-convertibles are NaN  : False

--------------------------------------------------------------------------------

_____BULKY_PAID_____

total num of entries          : 435617
int convertible entries       : 435611
non convertible entries       : 6
all non-convertibles are NaN  : False

--------------------------------------------------------------------------------

_____TOTAL_DUE_____

total num of entries          : 435617
int convertible entries       : 435615
non convertible entries       : 2
all non-convertibles are NaN  : False

--------------------------------------------------------------------------------

### Results

**Columns that can be converted to integers**
* ACCOUNT_NO
* FOLIO_NO
* OWNER_PHONE
* WORK_ORDER
* SUFFIX
* ESTIMATED_YARDS
* PICKED_YARDS
* BILLED_YARDS

**Columns that cannot be converted to integers**
* BULKY_FEE
* BULKY_PAID
* TOTAL_DUE

OWNER_PHONE has an enormous number of missing values. Might not be a useful column, maybe something by area code? Might be worth making a new column for area code. 7 of the convertible columns have only one NaN entry. This should be the one I visualized earlier: index = 180343, which is NaN all the way across and can be dropped entirely. Finally, the non-convertible columns only have a few non-convertible entries which can be checked by hand to decide what to do about them.

In [9]:
bwpo[~(bwpo['BULKY_FEE'].apply(float.is_integer))]

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
180343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318560,10587551.0,3741 NW 207 ST MIAMI FL 330551137,3.411320e+12,JULIO CESAR CENTENO & GABRIELA,7.863192e+09,VISTA VERDA SEC1 L4 B5 PB92-45,769165.0,0.0,03/11/2015,03/13/2015,16-TRASH - ENFORCEMENT NON-COMPLIANCE,03/11/2015,03/23/2015,UP-UNPAID,0.0,35.0,70.0,365.56,244.44,365.56

In [10]:
bwpo[~(bwpo['BULKY_PAID'].apply(float.is_integer))]

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
72053,11878371.0,10901 SW 178 TERR MIAMI FL 331575073,3.050310e+12,JASON KISSOONLAL,NaN,H HABITABLE 10/7,133164.0,0.0,10/25/1989,05/20/1991,16-TRASH - ENFORCEMENT NON-COMPLIANCE,10/25/1989,01/01/1992,JD-BULKY ORDER UNDER JUDGEMENT PROCESS,0.0,8.0,16.0,0.00,174.72,0.00
180343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195060,10878547.0,1949 NW 153 ST MIAMI FL 330542926,3.421150e+12,RENEE SHANTEE JAMES,NaN,NaN,749724.0,0.0,12/22/2014,12/26/2014,16-TRASH - ENFORCEMENT NON-COMPLIANCE,12/22/2014,01/21/2015,PD-PAID,0.0,5.0,10.0,0.00,229.77,0.00
285381,13422276.0,1746 NE 149 ST MIAMI FL 331810000,3.022200e+12,HUMAHU VII INVESTMENTS LLC,NaN,ARCH CREEK ESTS PB46-73 LOT188,632501.0,0.0,10/01/2013,10/02/2013,16-TRASH - ENFORCEMENT NON-COMPLIANCE,10/01/2013,10/04/2013,JD-BULKY ORDER UNDER JUDGEMENT PROCESS,0.0,5.0,10.0,0.00,60.82,0.00
318560,10587551.0,3741 NW 207 ST MIAMI FL 330551137,3.411320e+12,JULIO CESAR CENTENO & GABRIELA,7.863192e+09,VISTA VERDA SEC1 L4 B5 PB92-45,769165.0,0.0,03/11/2015,03/13/2015,16-TRASH - ENFORCEMENT NON-COMPLIANCE,03/11/2015,03/23/2015,UP-UNPAID,0.0,35.0,70.0,365.56,244.44,365.56
339534,11011394.0,1631 NE 144 ST MIAMI FL 331811335,3.022200e+12,TIMOTHY P SEAY,NaN,NaN,787894.0,0.0,05/20/2015,05/20/2015,16-TRASH - ENFORCEMENT NON-COMPLIANCE,05/20/2015,05/03/2016,PD-PAID,0.0,3.0,6.0,0.00,138.09,0.00

In [11]:
bwpo[~(bwpo['TOTAL_DUE'].apply(float.is_integer))]

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
180343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318560,10587551.0,3741 NW 207 ST MIAMI FL 330551137,3.411320e+12,JULIO CESAR CENTENO & GABRIELA,7.863192e+09,VISTA VERDA SEC1 L4 B5 PB92-45,769165.0,0.0,03/11/2015,03/13/2015,16-TRASH - ENFORCEMENT NON-COMPLIANCE,03/11/2015,03/23/2015,UP-UNPAID,0.0,35.0,70.0,365.56,244.44,365.56

**Results:** It looks like these exceptions in BULKY_FEE, BULKY_PAID, and TOTAL_DUE are legitimate exceptions, so these three columns can be left as floats, the rest can be forced to integers. Additionally, to convert the convertible columns to integers, the NaN row must be dropped from the dataframe because pandas cannot convert NaN to integers:

https://pandas.pydata.org/pandas-docs/stable/gotchas.html#support-for-integer-na

I will fix the dtypes and the empty row and move on. The dtypes must be converted manually because the row must be dropped first using the skiprows argument in pd.read_csv().

In [12]:
# To protect against accidentally dropping multiple times if the cell is run multiple times.
check = []
for i in list(bwpo):
    check += np.isnan(bwpo.iloc[180343]['ACCOUNT_NO'])
if pd.Series(check).all():
    bwpo.drop([180343], inplace=True) # inplace argument changes the original DataFrame instead of returning a new one.

In [15]:
bwpo = bwpo.astype({
             'ACCOUNT_NO': np.int64,
             'PROPERTY_ADDRESS': str,
             'FOLIO_NUMBER': np.int64,
             'OWNER': str,
             'OWNER_PHONE': str,
             'LEGAL_DESC': str,
             'WORK_ORDER': np.int64,
             'SUFFIX': np.int64,
             'ORDER_DATE': str,
             'PICKUP_DATE': str,
             'REASON_CODE': str,
             'REQUEST_DATE': str,
             'BILL_DATE': str,
             'STATUS_CODE': str,
             'ESTIMATED_YARDS': np.int64,
             'PICKED_YARDS': np.int64,
             'BILLED_YARDS': np.int64,
             'BULKY_FEE': np.float64,
             'BULKY_PAID': np.float64,
             'TOTAL_DUE': np.float64
            }
           )
bwpo.head()

,ACCOUNT_NO,PROPERTY_ADDRESS,FOLIO_NUMBER,OWNER,OWNER_PHONE,LEGAL_DESC,WORK_ORDER,SUFFIX,ORDER_DATE,PICKUP_DATE,REASON_CODE,REQUEST_DATE,BILL_DATE,STATUS_CODE,ESTIMATED_YARDS,PICKED_YARDS,BILLED_YARDS,BULKY_FEE,BULKY_PAID,TOTAL_DUE
0,40592601,17900 NE 7 AVE MIAMI FL 000000000,300,OVC,nan,nan,784775,0,05/08/2015,05/11/2015,30-SHOPPING CARTS,05/08/2015,05/12/2015,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0,6,0,0.0,0.0,0.0
1,12058766,29811 SW 147 AVE MIAMI FL 330333858,3079100010120,ROSA MARIA MENDOZA,nan,H HABITABLE 10/7,50323,0,12/18/2017,01/01/2018,NORMAL PICKUP REQUEST,12/20/2017,01/03/2018,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0,2,0,0.0,0.0,0.0
2,40361386,9700 NW 36 AVE MIAMI FL 331470000,300,OVC/HOT SPOT,nan,nan,783965,0,05/05/2015,05/07/2015,17-TRASH - ENFORCEMENT OPERATION VACUUM CLEANE...,05/05/2015,05/08/2015,CN-CANCELLED,0,0,0,0.0,0.0,0.0
3,13024213,16074 SW 148 TERR MIAMI FL 331960000,3059200070630,JORGE F ORJALES &W TERESA,nan,SHOREWAY L47 B2 156-38,783223,0,05/04/2015,05/08/2015,NORMAL PICKUP REQUEST,05/04/2015,05/12/2015,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0,5,0,0.0,0.0,0.0
4,11972067,19613 SW 87 CT MIAMI FL 331578921,3660040270160,DAVID FONSECA,7868779369.0,nan,52076,0,12/22/2017,01/01/2018,NORMAL PICKUP REQUEST,12/23/2017,01/03/2018,"FR-FREE BULKY ORDER, WAS ALREADY PICKED UP - C...",0,8,0,0.0,0.0,0.0