In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
scores = pd.read_csv('numerical_data.csv')

In [5]:
scores

,Unnamed: 0,num_features,g_fitness,g_accuracy,g_sensitivity,g_specificity,a_fitness,a_accuracy,a_sensitivity,a_specificity
0,199,18.0,0.698174,0.824929,0.539286,0.935380,0.698174,0.824929,0.539286,0.935380
1,199,24.0,0.684173,0.813972,0.517857,0.930117,0.704779,0.817402,0.569643,0.914035
2,199,18.0,0.713841,0.820917,0.562500,0.919883,0.739162,0.821675,0.623214,0.898538
3,199,32.0,0.686107,0.805225,0.537500,0.908480,0.697895,0.828479,0.566071,0.930117
4,199,12.0,0.719109,0.808182,0.578571,0.897076,0.743612,0.812479,0.625000,0.885673
5,199,11.0,0.732332,0.852040,0.566071,0.962573,0.748500,0.849071,0.610714,0.941813
6,199,18.0,0.690475,0.820632,0.528571,0.934795,0.696317,0.812786,0.542857,0.918421
7,199,21.0,0.680031,0.766268,0.557143,0.848538,0.693477,0.775157,0.566071,0.855263
8,199,10.0,0.730095,0.851601,0.566071,0.962573,0.733883,0.847436,0.580357,0.951170
9,199,15.0,0.705870,0.788929,0.567857,0.874854,0.722695,0.774114,0.612500,0.836842

In [9]:
scores.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
scores

,num_features,g_fitness,g_accuracy,g_sensitivity,g_specificity,a_fitness,a_accuracy,a_sensitivity,a_specificity
0,18.0,0.698174,0.824929,0.539286,0.935380,0.698174,0.824929,0.539286,0.935380
1,24.0,0.684173,0.813972,0.517857,0.930117,0.704779,0.817402,0.569643,0.914035
2,18.0,0.713841,0.820917,0.562500,0.919883,0.739162,0.821675,0.623214,0.898538
3,32.0,0.686107,0.805225,0.537500,0.908480,0.697895,0.828479,0.566071,0.930117
4,12.0,0.719109,0.808182,0.578571,0.897076,0.743612,0.812479,0.625000,0.885673
5,11.0,0.732332,0.852040,0.566071,0.962573,0.748500,0.849071,0.610714,0.941813
6,18.0,0.690475,0.820632,0.528571,0.934795,0.696317,0.812786,0.542857,0.918421
7,21.0,0.680031,0.766268,0.557143,0.848538,0.693477,0.775157,0.566071,0.855263
8,10.0,0.730095,0.851601,0.566071,0.962573,0.733883,0.847436,0.580357,0.951170
9,15.0,0.705870,0.788929,0.567857,0.874854,0.722695,0.774114,0.612500,0.836842

In [12]:
a_scores = scores[['num_features', 'a_fitness', 'a_accuracy', 'a_sensitivity', 'a_specificity']]

In [13]:
a_scores

   num_features  a_fitness  a_accuracy  a_sensitivity  a_specificity
0          18.0   0.698174    0.824929       0.539286       0.935380
1          24.0   0.704779    0.817402       0.569643       0.914035
2          18.0   0.739162    0.821675       0.623214       0.898538
3          32.0   0.697895    0.828479       0.566071       0.930117
4          12.0   0.743612    0.812479       0.625000       0.885673
5          11.0   0.748500    0.849071       0.610714       0.941813
6          18.0   0.696317    0.812786       0.542857       0.918421
7          21.0   0.693477    0.775157       0.566071       0.855263
8          10.0   0.733883    0.847436       0.580357       0.951170
9          15.0   0.722695    0.774114       0.612500       0.836842

In [16]:
kin_df = pd.read_csv('reported_kinases.csv', header=None, names=range(32))

In [17]:
kin_df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,ALK,AXL,DYRK1B,EGFR,MAPK11,MAPK12,MAPK3,MAPKAPK3,MAPKAPK5,PI4KB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BLK,CSNK1A1,DDR2,DYRK1B,EGFR,FLT3,GSK3A,HIPK1,MAPK1,MAPK13,...,TEC,YES1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABL1,AKT3,CHUK,EGFR,FES,FGR,GSK3A,JAK2,LCK,MAPK1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABL1,BLK,CDC42BPA,CDK1,CLK2,DYRK1B,EGFR,EPHA3,EPHB3,FGFR3,...,ROCK1,ROCK2,SIK2,SRC,SRPK3,STK4,TEK,TTK,TYK2,TYRO3
4,AKT3,CHUK,DYRK1B,EGFR,FER,MAP4K4,MAPK11,MARK2,MUSK,PAK6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,EGFR,EPHB4,FES,FRK,HCK,MET,NTRK1,PIK3CD,ROCK1,STK4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CDK6,CSNK1G3,DCLK2,DDR2,EGFR,EPHB3,FLT3,HCK,MST4,PI4KB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CHEK1,CHUK,EGFR,EPHA4,EPHB3,EPHB4,ERBB4,FLT4,GSK3B,KDR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AXL,CDK2,CSNK1G3,EGFR,MUSK,NEK7,PAK1,PAK6,PIK3CD,ROCK1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ABL1,AKT1,BMX,BRSK1,BTK,EGFR,ERBB4,MAP4K2,MAP4K4,MAPK11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
kin = []
with open('reported_kinases.csv', 'r') as f:
    for line in f:
        kin.append(line.strip().split(','))

In [24]:
kin

[['ALK',
  'AXL',
  'DYRK1B',
  'EGFR',
  'MAPK11',
  'MAPK12',
  'MAPK3',
  'MAPKAPK3',
  'MAPKAPK5',
  'PI4KB',
  'PIK3CD',
  'PRKACA',
  'ROCK2',
  'RPS6KA1',
  'SRC',
  'TEC',
  'TYRO3',
  'ZAP70'],
 ['BLK',
  'CSNK1A1',
  'DDR2',
  'DYRK1B',
  'EGFR',
  'FLT3',
  'GSK3A',
  'HIPK1',
  'MAPK1',
  'MAPK13',
  'MAPKAPK2',
  'MAPKAPK5',
  'PI4KB',
  'PIK3CD',
  'PLK1',
  'PTK2B',
  'ROCK1',
  'ROCK2',
  'RPS6KA3',
  'RPS6KA5',
  'RPS6KB1',
  'SIK2',
  'TEC',
  'YES1'],
 ['ABL1',
  'AKT3',
  'CHUK',
  'EGFR',
  'FES',
  'FGR',
  'GSK3A',
  'JAK2',
  'LCK',
  'MAPK1',
  'MARK1',
  'NTRK1',
  'ROCK1',
  'RPS6KA1',
  'RPS6KA5',
  'SIK2',
  'TEC',
  'TTK'],
 ['ABL1',
  'BLK',
  'CDC42BPA',
  'CDK1',
  'CLK2',
  'DYRK1B',
  'EGFR',
  'EPHA3',
  'EPHB3',
  'FGFR3',
  'FLT3',
  'IKBKB',
  'IKBKE',
  'JAK3',
  'KIT',
  'MAPK13',
  'MARK4',
  'MKNK1',
  'NEK1',
  'PAK2',
  'PRKD2',
  'PRKG2',
  'ROCK1',
  'ROCK2',
  'SIK2',
  'SRC',
  'SRPK3',
  'STK4',
  'TEK',
  'TTK',
  'TYK2',
  'TYRO3'],
 ['AKT3',
  'CHUK',
  'DYRK1B',
  'EGFR',
  'FER',
  'MAP4K4',
  'MAPK11',
  'MARK2',
  'MUSK',
  'PAK6',
  'ROCK2',
  'TEC'],
 ['EGFR',
  'EPHB4',
  'FES',
  'FRK',
  'HCK',
  'MET',
  'NTRK1',
  'PIK3CD',
  'ROCK1',
  'STK4',
  'TTK'],
 ['CDK6',
  'CSNK1G3',
  'DCLK2',
  'DDR2',
  'EGFR',
  'EPHB3',
  'FLT3',
  'HCK',
  'MST4',
  'PI4KB',
  'PIM3',
  'PRKAA2',
  'PRKD3',
  'PTK2B',
  'ROCK2',
  'SIK2',
  'STK3',
  'TSSK1B'],
 ['CHEK1',
  'CHUK',
  'EGFR',
  'EPHA4',
  'EPHB3',
  'EPHB4',
  'ERBB4',
  'FLT4',
  'GSK3B',
  'KDR',
  'MAPK14',
  'MAPKAPK3',
  'NEK7',
  'NTRK2',
  'PRKG1',
  'RET',
  'ROS1',
  'RPS6KA1',
  'SGK3',
  'SIK2',
  'TTK'],
 ['AXL',
  'CDK2',
  'CSNK1G3',
  'EGFR',
  'MUSK',
  'NEK7',
  'PAK1',
  'PAK6',
  'PIK3CD',
  'ROCK1'],
 ['ABL1',
  'AKT1',
  'BMX',
  'BRSK1',
  'BTK',
  'EGFR',
  'ERBB4',
  'MAP4K2',
  'MAP4K4',
  'MAPK11',
  'MUSK',
  'ROCK1',
  'SIK2',
  'SRC',
  'STK3']]